{% extends 'main/basic_file.html' %}
{% load static %}
{%block title%}
Заявка была отправлена!
{%endblock%}
{%block content%}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
        <h1 class="sc-1tj5y7k-0 eVvGfE" style="color: #DC143C">Заявка была отправлена</h1>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
        <p class="sc-1tj5y7k-0 eVvGfE" style="color: #8B0000">Вам ответят в течении 1 дня</p>
    </div>
</div>
{%endblock%}