{% extends 'main/basic_file.html' %}
{% load static %}
{%block title%}
О нас !
{%endblock%}
{%block content%}
<link rel="stylesheet" href="{%static 'main/css/main.css' %}">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
        <h2 class="center" style="color: #DC143C">О нас</h2>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="center" style="color: #8B0000">Мы один из самых качественных кафе в ставропольском крае</p>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="center" style="color: #8B0000">Делаем блюда уже больше 20 лет</p>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" class="center" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" class="center" style="color: red">
          <h2 class="center" style="color: #DC143C">История нашей компании</h2>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="center" style="color: #8B0000">Наша компания существует уже больше 20 лет и она стала одна из лучшей компании во всём ставрапольском крае. Мы 20 лет добиваемся домашней атмосферой в кафе и качества нашей продукции</p>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
          <h2 class="center" style="color: #DC143C">Что нас вдохновляет каждый день работать ?</h2>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="center" style="color: #8B0000">Обычно люди приходят купить еду собой домой, чтобы собраться вместе за столом с семьёй и хорошо провести время за столом. В первую очередь это большое дело, которое вдохновляет нас, заставляет каждое утро просыпаться и с интересом продолжать работу нашу работу. В чём же наш интерес? Сейчас расскажем.</p>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
          <h2 class="center" style="color: #DC143C">Какие интересы приследует наше кафе ? </h2>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="center" style="color: #8B0000">Наши интересы заключаются в том что бы на рынке был качественный продукт, что бы вы могли всегда знать куда прийти, что бы вкусно поесть.</p>
</div>
{%endblock%}
