{% extends 'main/basic_file.html' %}
{% load static %}
{%block title%}
Связаться с нами ! 
{%endblock%}
{%block content%}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h1 style="color: #DC143C">Номер телефона</h1>
    </div>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p class="p-3"><a href="tel:+88007002888" style="color: #8B0000">+8 (800) 700-28-88</a></p>
</div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="color: red">
    <p style="color: #8B0000">Если у вас появились вопросы о продукции ресторана или у вас есть к нам другие вопросы, то звоните по этому номеру телефона</p>
</div>
{%endblock%}